
.editor-buttons button {
  
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.editor-buttons button:focus {
  outline: none;
}

.file{
    display:none;
}
