.glow{
    filter: drop-shadow(0px 0px 100px rgba(237, 132, 40, 1));
        animation: rotate 22s linear infinite;

}


.lua{
        transform: translate(-150px, 200px) ;
     
bottom: 0;
    z-index: -1;
}


.star{
    z-index: -2;
        top: 0;

}

.back{
    top: 0;
        z-index: -3;

}


.text{
    text-shadow: 2px 2px 2px #000000;
}

@keyframes rotate {
    from {

                transform: rotate(0deg)

    }
    50% {
                transform: rotate(360deg)
    }

    100%{
                        transform: rotate(720deg)

    }
}
